ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
}

body {
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
}

ul li {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  }

 ul li:hover {
 background: #555;
 color: #fff;
}

ul li ul li:hover { background: #666; }

ul li:hover ul {
  display: block;
  visibility: visible;
}

ul li ul {
  padding: 0;
  position: absolute;
  width: 150px;
  display: none;
  visibility: hidden;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;