
a{
    display:block;
    color:green;
}
body{
    
    background-color:white;
}
.display{
    
    text-align: center;
    margin-top: 5%;
}

.welcome{
    color: blue;
    padding: 16px;
    font-size: 20px;
}

.header{
	margin-top:0;
	height:3%;
	background-color:black;
	font-size: 20px;
	color:yellow;
}

table{
    position:relative;
    margin-top:3%;
    border:solid;
    background-color: white;
}