
.hoverTable {
    font-family: "Trebuchet MS", Arial;
    border-collapse: collapse;
    width: 100%;
}

.hoverTable td, .hoverTable th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(even){background-color: #FF0000}

.hoverTable tr.a:hover {background-color: #ffd;}
.hoverTable tr.b:hover {background-color: #dff;}

.hoverTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}
